
.topbar{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    padding-top: 5px;
    color:white;
    background-color: #2b2d31;
    padding-bottom: 10px;
}
.searchContainer{
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #1f2124;
}
#searchInput{
    width: 95%;
    height: 30px;
    background-color: #3b3d44;
    border-radius: 5px;
    font-size: x-small;
    padding-left: 5px;
}

.horizontalLine{
    width: 100%;
    border-color: #1f2124;
}

.links{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 95%;
    height: 40px;
    border-radius: 5px;
    padding: 0 10px;
    gap: 20px;
    color: #949ba4;
}

.links:focus{
    color: #f2f4f7;
    background-color: #3b3d44;
}

.links:hover{
    background-color: #3b3d44;
    color: #f2f4f7;
}